div#main {
  padding-left: 1.75pc;
  padding-right: 1.75pc;
  max-width: 900px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

body {
  padding: 0px;
  margin: 0px;
}

li {
  padding-bottom: 3pt;
}

table.header {
  padding: 2px;
  border-spacing: 3px;
  border: 0px;
}

h3.chapter {
    padding-left: 40px;
    margin-bottom: 0pt;
}
img.icon { padding-left: 40px; }
ol.start { counter-reset: character; }
ol > li {
    text-indent: -3em;
    list-style-type: none;
    counter-increment: character;
}
ol > li:before {
    display: inline-block;
    width: 2.75em;
    padding-right: 0.25em;
    text-align: right;
    content: counter(character) ". ";
}
th.big {
    font-size: 1.17em;
    font-weight: bold;
}
a { text-decoration: none; }
a:link:hover { text-decoration: underline; }
td.prev {
  text-align: left;
  width: 50%;
}
td.next {
  text-align: right;
  width: 50%;
}

tr.top { vertical-align: top }
tr.bottom { vertical-align: bottom }

h2 {text-align: left}
h2.title {text-align: center}

h3 {text-align:  left}
h3.heading {text-align: center}

img {border-width:  0}
img.cover {border-width:  1px;}

ul#first {list-style-type:  none}
