div#main {
  background-image: linear-gradient(to right, #fffaf400 0%, #fffaf4c0 10%,
      #fffaf4c0 90%, #fffaf400 100%);
}

body {
  background-color: #fffaf4;
  /*background: #eae4d7 url("dragon.jpg");*/
  /*background: #fffaf4 url("dragon.jpg");*/
  background-image: url("dragon1.jpg");
  color: #000000;
}

a.name    {color: #c00000} /* originally #ff0000 */
a:link    {color: #00008b}
a:active  {color: #00ff00}
a:visited {color: #8800a0}

th        {color: #000000}
td        {color: #000000}
td.title  {color: #8800a0}
td.prev {
  text-align:  left;
  width:  50%
}
td.next {
  text-align:  right;
  width:  50%
}

tr.top {vertical-align:  top;}
tr.bottom {vertical-align:  bottom;}

h2 {text-align: left}
h2.title {text-align: center}

h3 {text-align:  left}
h3.heading {text-align: center}

img {border-width:  0}
img.cover {border-width:  1px;}

ul#first {list-style-type:  none}
