div#main {
  background-image: linear-gradient(to right, #dddddd00 0%,
    #dddddde0 10%, #dddddde0 90%, #dddddd00 100%);
}

body {
  background-color: #dddddd;
  background-image: url("eye.gif");
  color: #000000;
  background-size: calc(max(320px,25%))
}

/*a.name    {color: #cd8032}*/
a.name    {color: #ad6000}
a:link    {color: #0000bb}
a:active  {color: #00ff00}
a:visited {color: #000090}

th        {color: #000000}
td        {color: #000000}
td.title  {color: #000090}
td.prev {
  text-align:  left;
  width:  50%
}
td.next {
  text-align:  right;
  width:  50%
}

tr.top {vertical-align:  top;}
tr.bottom {vertical-align:  bottom;}

h2 {text-align: left}
h2.title {text-align: center}

h3 {text-align:  left}
h3.heading {text-align: center}

img {border-width:  0}
img.cover {border-width:  1px;}

ul#first {list-style-type:  none}
