body {
 background: #797f79
 url("johnny.gif");
 color: #000080 }

/* a.name    {color: #ffff7f} */
/* a.name    {color: #eb8000} */
a.name    {color: #cb6000}
a:link    {color: #3300cc}
a:active  {color: #0000ff}
a:visited {color: #0900a5}

th        {color: #000080}
td        {color: #000080}
td.title  {color: #0900a5}

td.prev   {
    text-align:  left;
    width: 50%
}
td.next {
    text-align:  right;
    width: 50%
}

tr.top {vertical-align: top}
tr.bottom {vertical-align: bottom}

h2 {text-align:  left}
h2.title {text-align:  center}

h3 {text-align:  left}
h3.heading {text-align:  center}

img {border-width:  0}
img.cover {border-width: 1px}

ul.firsticon {list-style-type:  none}
