div#main {
  background-image: linear-gradient(to right, #2e0c1300 0%, #2e0c13f0 10%,
      #2e0c13f0 90%, #2e0c1300 100%);
}

body {
 background: #2e0c13
 url("crown.gif");
 color: #ffffff }

a.name    {color: yellow}
a:link    {color: #e8c4a5}
a:active  {color: #ff00ff}
a:visited {color: #de8e49}

th        {color: #ffffff}
td        {color: #ffffff}
td.title  {color: #de8e49}

td.prev {
  text-align:  left;
  width:  50%
}
td.next {
  text-align:  right;
  width:  50%
}

tr.top {vertical-align:  top;}
tr.bottom {vertical-align:  bottom;}

h2 {text-align: left}
h2.title {text-align: center}

h3 {text-align:  left}
h3.heading {text-align: center}

img {border-width:  0}
img.cover {border-width:  1px;}

ul#first {list-style-type:  none}
