div#main {
  background-image: linear-gradient(to right, #01010100 0%, #010101ee 10%,
      #010101ee 90%, #01010100 100%);
}

body {
  background-color: #343434;
  background-color: black;
  background-image: url("sunrise.jpg");
  background-attachment: fixed;
  background-size: calc(max(25%,320px));
  color: #eeeeee;
}

a.name    {color: #f6da6f}
a:link    {color: #afd5e0}
a:active  {color: #90ee90}
a:visited {color: #638792}

td.title  {color: #638792}
