div#main {
  background-image: linear-gradient(to right, #ffffff00 0%, #fffffff0 5%,
      #fffffff0 95%, #ffffff00 100%);
}

body {
  background-color: #878787;
  background-image: url("johnny2.jpg");
  color: black;
}

a.name    {color: #603143}
a:link    {color: #3300cc}
a:active  {color: #0000ff}
a:visited {color: #0900a5}

td.title  {color: #0900a5}
