@import "MUcolors.css";

:root {
  --link_bar_radius: 1ex;
  --header_height: 120pt;
  --activetab: var(--MU_MetallicGold);
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: Times,"Times New Roman","Nimbus Roman",serif;
  background-color: var(--MU_WarmGray);
  background-image: url("images/W110-after-150000He.png");
  color: black;
}

/* turn off ligatures for fixed-width fonts... */
pre,kbd,code {
  font-feature-settings: "liga" 0;
  font-size: 0.9em;
  font-family: Monaco,monospace;
}

dd {
  margin-bottom: 0.25ex;
  padding-left: 20pt;
  text-indent: -20pt;
}

dd ul {
  padding-left: 10pt;
  text-indent: 0pt;
}

div.clearpage {
  margin: 0;
  padding: 0;
  border-style: none;
  clear: both;
}

/* Banner at the top */
div.topbar {
  text-align: center;
  width: 100%;
  height: var(--header_height);
  background-color: black;
  /* background-image: url("images/W110-after-150000He.png"); */
  color: white;
}

.MUlogo {
  height: var(--header_height);
}

span#left_logo {
  position: absolute;
  left: 0;
}

span#right_logo {
  position: absolute;
  right: 0;
}

span#department {
  position: absolute;
  left: calc(0.872*var(--header_height));
  right: calc(0.872*var(--header_height));
  top: calc(0.65*var(--header_height));
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 0.15em;
  font-family: Helvetica,"Nimbus Sans",Arial,sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--MU_Gray);
}

span#professor {
  position: absolute;
  left: calc(0.872*var(--header_height));
  right: calc(0.872*var(--header_height));
  top: calc(0.20*var(--header_height));
  font-size: 200%;
  font-family: Helvetica,"Nimbus Sans",Arial,sans-serif;
  font-weight: bold;
  color: var(--MU_Gold);
  text-shadow: 1px 1px 2px var(--MU_Gray);
}
span#professor::selection{
  color: var(--MU_LightBlue);
}

span#moving {
  position: absolute;
  //left: calc(0.872*var(--header_height));
  //right: calc(0.872*var(--header_height));
  left: 0pt;
  right: 0pt;
  top: calc(var(--header_height) - 14pt);
  font-family: Times,"Times New Roman","Nimbus Roman",serif;
  font-style: italic;
  color: white;
}
span#moving a {
  color: var(--MU_LightBlue);
  text-decoration: none;
}
span#moving a:hover {
  text-decoration: underline;
}

/* If the window is 800 pixels wide or less, proportionally resize the
   text in the banner */
@media only screen and (max-width: 800px) {
  span#professor {
      right: calc( 0.872*var(--header_height) + 100vw - 800px );
  }
  span#department {
      right: calc( 0.872*var(--header_height) + 100vw - 800px );
  }
  span#moving {
    font-size: 1.9vw;
  }
}
@media only screen and (max-width: 625px) {
  span#professor {
    font-size: 5vw;
    right: 0;
  }
  span#department {
    font-size: 2.5vw;
    right: 0;
  }
  span#moving {
    font-size: 1.6vw;
  }
}

span.sans {
  font-family: Helvetica,"Nimbus Sans",Arial,sans-serif;
  font-size: 0.95em;
}

/* Top toolbar */
div#pages {
  width: 100%;
  background-color: var(--MU_Red);
  /*box-shadow: 0px 4px 4px var(--MU_WarmGray);*/
  box-shadow: 0px 4px 4px #151515;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0px;
  padding-bottom: 0pt;
  padding-top: 0.25ex;
  border-style: solid;
  position: relative; /* nothing */
  height: auto;
}

div.pagelink {
  border-top-left-radius: var(--link_bar_radius);
  border-top-right-radius: var(--link_bar_radius);
  background-color: var(--MU_Gold);
  font-family: Helvetica,"Nimbus Sans",Arial,sans-serif;
  font-weight: bold;
  display: inline-block;
  width: auto;
  height: 2ex;
  padding: 0.75ex 1.00ex 0.5ex;
  color: black;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  border-width: 1pt;
  border-bottom: none;
}

div.pagelink a {
  color: black;
  text-decoration: none;
}
div.pagelink a:hover {
  text-decoration: underline;
}

/* Links */
a {
  color: var(--MU_Blue);
  text-decoration: none;
}
a:hover {
  color: var(--MU_Green);
  text-decoration: underline;
}
a:active {
  color: var(--MU_Orange);
  text-decoration: underline;
}

/* Kerning for the LaTeX logo */
/* These have been adjusted so as to match precisely with the LaTeX logo
   generated by LaTeX for the txfonts bundle. */
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
  color: inherit;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  color: inherit;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
  color: inherit;
}

.latex sup {
  color: inherit;
  font-size: 0.73em;
  vertical-align: 0.52ex;
  margin-left: -0.46em;
  margin-right: -0.15em;
}

.latex sub.e {
  /* mimics the _\epsilon in \LaTeXe */
  color: inherit;
  font-size: 1em;
  font-style: italic;
  text-transform: lowercase;
  vertical-align: -0.4ex;
  margin-left: 0;
  margin-right: 0;
}

/* Main page */
div#main {
  padding-left: 1pc;
  padding-right: 1pc;
  max-width: 900px;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  margin-left: auto;
  margin-right: auto;
  background-color: #FCFCFC;
  overflow: hidden;
}

/* Miscellaneous elements */
div.float_right {
  float: right;
  /* margin: 1pc; */
  margin-left: 1pc;
  margin-bottom: 0.5pc;
}

div.float_left {
  float: left;
  margin-right: 1pc;
  margin-bottom: 0.5pc;
}

div#faculty_photo {
  float: left;
  margin-right: 1pc;
  margin-bottom: 1pc;
  width: 150px;
  height: 226px;
}
div#faculty_info {
  line-height: 1.5;
}

p.student {
  margin-bottom: 0;
  margin-top: 1pc;
}

div.thesis {
  padding-left: 2em;
  padding-right: 1em;
  text-indent: -1em;
  margin-top: 0;
}

figure#group {
  margin: 0;
  width: 100%;
  max-width: 8in;
  min-width: 3in;
  background-color: black;
  color: white;
}

figure#group figcaption {
  padding: 0.25pc 0.5pc 0.25pc 0.5pc;
}

figure#group img {
  width: 100%;
}

dl.students dt {
  margin-top: 1ex;
  font-weight: bold;
}

dl.students dd {
  margin-left: 0;
}

li {
  margin-bottom: 0.5ex;
}

span.undergraduate {
  font-style: oblique;
  font-family: Helvetica,"Nimbus Sans",Arial,sans-serif;
  font-size: 0.95em;
}

img.graphical_abstract {
  width: auto;
  height: auto;
  max-height: 1.75in;
  min-height: 1.2in;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1pc;
  display: block;
}

img.scopus{
  height: 18px;
  width: auto;
  vertical-align: sub;
}

span.sc {
  font-variant: small-caps;
}

/* Make normal (non-LaTeX) superscripts smaller */
sup,sub {
  font-size: 66.7%;
}

/* Selection color */
::selection {
  background-color: black;
  color: var(--MU_Gold);
}
a::selection, a span::selection, a sub::selection, a sup::selection {
  color: var(--MU_LightBlue);
}

/* Support for dark themes */
@media only screen and (prefers-color-scheme: dark) {
  body {
    color: var(--MU_LightGray);
    background-color: var(--MU_Gray);
  }
  div#main {
    background-color: #151515;
  }
  div#pages {
    box-shadow: 0px 4px 4px black;
  }
  a {
    color: var(--MU_LightBlue);
  }
  img.scopus {
    filter: invert(95%);
  }
}
