:root {
    --MU_Gold: #F1B82D;
    --MU_MetallicGold: #C9972C;
    --MU_WarmGray: #8F8884;
    --MU_LightWarmGray: #D8D5CD;
    --MU_Gray: #7D7D7D;
    --MU_LightGray: #D7D7D7;
    --MU_Red: #900000;
    --MU_Orange: #BD5C2C;
    --MU_Green: #69901D;
    --MU_LightBlue: #9BD3DD;
    --MU_Blue: #1C5E90;
}
