div#main {
  background-image: linear-gradient(to right, #ffffff00 0%, #ffffffe0 10%,
      #ffffffe0 90%, #ffffff00 100%);
}

body {
 background: #ffffff
 url("snow.gif");
 color: #000000 }

a.name    {color: #a6449a}
a:link    {color: #7796bf}
a:active  {color: #0000aa}
a:visited {color: #4a78b7}

th        {color: #000000}
td        {color: #000000}
td.title  {color: #4a78b7}

td.prev {
  text-align:  left;
  width:  50%
}
td.next {
  text-align:  right;
  width:  50%
}

tr.top {vertical-align:  top;}
tr.bottom {vertical-align:  bottom;}

h2 {text-align: left}
h2.title {text-align: center}

h3 {text-align:  left}
h3.heading {text-align: center}

img {border-width:  0}
img.cover {border-width:  1px;}

ul#first {list-style-type:  none}
